
.vs/SpaceInvadersGame/v15/Server/sqlite3/db.lock
.vs/SpaceInvadersGame/v15/Server/sqlite3/storage.ide
.vs/SpaceInvadersGame/v15/Server/sqlite3/storage.ide-shm
.vs/SpaceInvadersGame/v15/Server/sqlite3/storage.ide-wal
SpaceInvadersGame/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SpaceInvadersGame/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SpaceInvadersGame/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SpaceInvadersGame/obj/Debug/SpaceInvadersGame.csproj.CoreCompileInputs.cache
SpaceInvadersGame/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SpaceInvadersGame/obj/Debug/SpaceInvadersGame.csproj.CoreCompileInputs.cache
